@model VehicleViewModel; 
@using CarServiceFronted.Extensions;
@using Humanizer; 
@{ ViewData["Title"] = "Services History"; }
<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table id="vehiclesTable" class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Marca</td>
                <td>Model</td>
                <td>Antiguedad</td>
                <td>Patente</td>
                <td>Proximo Service</td>
                <td>Crear Service</td>
                <td>Detalle Services</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items) {
        <tr>
            <td>
                <input type="checkbox" class="done-checkbox">
            </td>
            <td>@item.Brand</td>
            <td>@item.Model</td>
            <td>@item.ManufacturingDate.Humanize()</td>
            <td>@item.CarLicensePlate</td>
            <td>@item.GetNextCarServices()</td>
            <td class="CrearService" vehicleId="@item.ID">
                <span class="table-remove">
                <button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0">Agregar Service
                  </button>
                  </span>
            </td>
            <td class="DetalleService" vehicleId="@item.ID">
                <span class="table-remove">
                <button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0">Detalle Servicios
                  </button>
                  </span>
            </td>

        </tr>
        }
    </table>

    <div class="modal fade" id="myModal">

    </div>
    <div class="modal fade" id="DetailsServieDialog">

    </div>

    <div class="panel-footer add-item-form">

        @await Html.PartialAsync("AddVehiclePartial", Model.AddVehicleViewModel)

    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $(function() {

        $('#dtpDateService').datepicker({
            format: 'dd/mm/yyyy',
            uiLibrary: 'bootstrap4',
            setDate: new Date()
        });

        $("#dialog").dialog({
            autoOpen: false,
            modal: true,
            title: "Agregar Servicio"
        });

        $("#vehiclesTable .CrearService").click(function() {

            var vehicleId = $(this).closest("tr").find("td").eq(6).attr("vehicleId");

            $.ajax({
                type: "Get",
                url: "/Vehicles/CreateService",
                data: 'vehicleId=' + vehicleId,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function(response) {
                    $('#myModal').html('');
                    $('#myModal').html(response);
                    $("#myModal").modal();
                },
                failure: function(response) {
                    alert(response.responseText);
                },
                error: function(response) {
                    alert(response.responseText);
                }
            });
        });

        $("#vehiclesTable .DetalleService").click(function() {
            var vehicleId = $(this).closest("tr").find("td").eq(6).attr("vehicleId");

            $.ajax({
                type: "Get",
                url: "/Vehicles/DetailsService",
                data: 'vehicleId=' + vehicleId,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function(response) {
                    $('#DetailsServieDialog').html('');
                    $('#DetailsServieDialog').html(response);
                    $('#DetailsServieDialog').modal();
                },
                failure: function(response) {
                    alert('failure: ' + response.responseText);
                },
                error: function(response) {
                    alert('error: ' + response.responseText);
                }
            });
        });

        return false;
    });
</script>
}