@model VehicleViewModel; 
@using CarServiceFronted.Extensions;
 @{ ViewData["Title"] = "Services History"; }
<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Marca</td>
                <td>Model</td>
                <td>Año</td>
                <td>Patente</td>
                <td>Service</td>
                <td></td>
            </tr>
        </thead>
        @foreach (var item in Model.Items) {
        <tr>
            <td>
                <input type="checkbox" class="done-checkbox">
            </td>
            <td>@item.Brand</td>
            <td>@item.Model</td>
            <td>@item.ManufacturingDate</td>
            <td>@item.CarLicensePlate</td>
            <td>@item.GetNextCarServices()</td>
              @{}
            <td> @await Html.PartialAsync("AddServicePartial", new AddServiceViewModel()
                {
                    StatusList = Model.StatusList,
                    ServicesType = Model.ServicesType,
                    VehicleId =@item.ID                
                })
                
                </td>
       
            
        </tr>
        }
    </table>
    <div class="panel-footer add-item-form">
        @await Html.PartialAsync("AddVehiclePartial", Model.AddVehicleViewModel)
    </div>
</div>


@section Scripts{

	<script type="text/javascript">
		$('#datepicker').datepicker({
			format: 'dd/mm/yyyy',
			uiLibrary: 'bootstrap4'
		});

	</script>
	}	