@model CarViewModel
@{
  ViewData["Title"] = "Services History";
}
<div class="panel panel-default todo-panel">
	<div class="panel-heading">@ViewData["Title"]</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<td>&#x2714;</td>
					<td>Marca</td>
					<td>Model</td>
					<td>Año</td>
				</tr>
		  </thead>
		  @foreach (var item in Model.Items)
		  {
			<tr>
				<td>
					<input type="checkbox" class="done-checkbox">
				</td>
				<td>@item.Brand</td>
				<td>@item.Model</td>
				<td>@item.Date</td>
		@if(@item.Services!= null){	
		 @foreach (var service in @item.Services)
		  {
			<tr>
				
				<td>@service.Description</td>
				<td>@service.Date</td>
				<td>@service.Cost</td>
				<td>@service.Status</td>
			</tr>
		  }
			}
			
			</tr>
		  }
	  </table>
  <div class="panel-footer add-item-form">
  @await Html.PartialAsync("AddCarPartial", new Car())
  </div>
</div>